<form class="form-group-lg col-md-offset-1" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}



    {%  for field in form %}

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <span class="text text-danger">{{ field.errors }}</span>
        </div>
        <label class="control-label col-md-3">{{ field.label_tag }}</label>
        <div class="col-md-4 form">{{ field }}</div>
    </div>

{% endfor %}

                            <div class="col-md-offset-2 col-md-5 sumbit-button">
                                    <button class="btn btn-success" type="submit">SignUp</button>
                                </div>
                        </form>
